<%- @planet_names.each do |planet| -%>
  <p><%= planet.name %> <div id="actions_<%= planet.id %>"><%= render :partial => "votes/actions", :locals => { :planet => planet } %></div></p>
<%- end -%>

<%= link_to t(:suggest), new_name_path %>
