<%- @planet_names.each do |planet| -%>
  <p><%= planet.name %> (<%= planet.user.name %> &middot; <%= pluralize(planet.votes.count, t(:votes)) %>) <%= render :partial => "votes/actions", :locals => { :planet => planet } %></p>
<%- end -%>
